/* 
==============
Variables
==============

*/

:root {
  --clr-primary-1: #304a6e;
  --clr-secondary-1: #668dc0;
  --clr-neutro: #c2c6ce;
  --clr-oscuro: #0f1c30;
  --clr-claro: #c0d0ef;
}

/* 
==============
General classes
==============

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-color-primary {
  color: var(--clr-primary-1);
}
.-color-secondary {
  color: var(--clr-secondary-1);
}
.-color-oscuro {
  color: var(--clr-oscuro);
}
.-color-claro {
  color: var(--clr-claro);
}
.-color-neutro {
  color: var(--clr-neutro);
}
.-bg-secondary {
  background-color: var(--clr-secondary-1);
}

.-pointer {
  cursor: pointer;
}

/* 

==============
Banner
==============

*/

.-banner {
  background-image: url("../Images/banner-3.avif");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.-select {
  background-color: transparent;
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .-banner h1 {
    font-size: 3rem !important;
  }
}

/* 
===========
Coinstable
===========
*/

.-title {
  border: 1px solid var(--clr-primary-1);
  width: 80px;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

/* 
==========
Coin Page
==========
*/
.-button:hover {
  background-color: var(--clr-secondary-1);
}
@media screen and (min-width: 800px) {
  .-border-coin {
    border-right: 1px solid grey;
  }
  .-padding-coin {
    padding-left: 2rem;
  }
}
