/* 
==============
Variables
==============

*/

:root {
  --clr-primary-1: #397af1;
}

/* 
==============
General classes
==============

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.-color-primary {
  color: var(--clr-primary-1);
}
.-bg-primary {
  background-color: var(--clr-primary-1);
}

.-pointer {
  cursor: pointer;
}

/* 

==============
Banner
==============

*/

.-banner {
  background-image: url("../Images/banner.avif");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.-banner select {
  background-color: transparent;
  border-color: #6c757d;
}

@media screen and (min-width: 768px) {
  .-banner h1 {
    font-size: 3rem !important;
  }
}

/* 
===========
Coinstable
===========
*/

.-title {
  border: 1px solid var(--clr-primary-1);
  width: 80px;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-style: none;
}

/* 
==========
Coin Page
==========
*/
.-button:hover {
  background-color: var(--clr-primary-1);
}
@media screen and (min-width: 800px) {
  .-border-coin {
    border-right: 1px solid grey;
  }
  .-padding-coin {
    padding-left: 2rem;
  }
}
